ion-content {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

  ion-card {
    margin: 0;
    padding: 0;
    height: auto;
  }
  
  .imagen-circulo {
    max-width: 400px;
    width: 100px; 
    height: auto; 
    object-fit: cover; 
    margin: auto; 
  }
  
  ion-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .label-radio {
    margin-top: 30px;
    width: 70%;
    max-width: 300px;
    }